# Maintainers team: https://github.com/orgs/DutchMeshCore/teams/mips-maintainers
* @DutchMeshCore/mips-maintainers

.pullpact.yaml @DutchMeshCore/mips-maintainers
PROCESS.md @DutchMeshCore/mips-maintainers
GOVERNANCE.md @DutchMeshCore/mips-maintainers
templates/ @DutchMeshCore/mips-maintainers
.github/ @DutchMeshCore/mips-maintainers
